<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Storage Unit</title>
  </head>
  <body>
    <a class="skip-link" href="#main-content">Skip to main content</a>
    <header class="main-header">
      <div class="logo-nav-form">
        <nav class="main-nav">
          <a class="main-links" href="/">All Folders</a>
          <a class="main-links" href="/file">All Files</a>
          <%# include("../partials/loginLogout.ejs") %>
        </nav>
      </div>
    </header>
    <main id="main-content" class="page-main">
      <h1 class="index-title">Welcome to Your Storage Unit</h1>
      <h2 class="index-subtitle">What would you like to do?</h2>
      <nav class="body-nav">
        <a href="/login" class="main-links big"><h3>Log In</h3></a>
        <a href="/createUer" class="main-links big"></a>
        <h3>Create An Account</h3>
      </nav>
    </main>
    <footer>Thought Windows</footer>
  </body>
</html>
