<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Storage Unit | Logged Out</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <a class="skip-link" href="#main-content">Skip to main content</a>
    <header class="main-header">
      <a href="/"><img class="small-logo" src="/icons/storage-unit-icon.png" /></a>
      <nav class="main-nav">
        <a class="main-links" href="/folder">ALL FOLDERS</a>
        <a class="main-links" href="/file">ALL FILES</a>
        <%- include("../partials/loginLogout.ejs") %>
      </nav>
    </header>
    </header>
    <h1>Logged Out</h1>
  </body>
</html>
