* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.folder-icon,
.file-icon {
  height: 24px;
  color: goldenrod;
}

#folder-input.hidden {
  display: none;
}

#folder-title.hidden {
  display: none;
}
